:root {
  background: var(--chakra-colors-teal-100);
}

#QRFlex {
  width: 30%;
}

#contentFlex {
  width: 30%;
}

@media only screen and (max-width: 800px) {
  #QRFlex {
    width: 90%;
  }
  #contentFlex {
    width: 90%;
  }
}
